<div id="panel" class="notifications">
    <h3>
        Email Notification Settings
    </h3>

    <div class="settings">
        <form action="#">
            <div class="digest">
                <h4>Daily digest</h4>
                <div class="row">
                    <div class="col-md-9">
                        <p>
                            An email with a summary of all your activities for yesterday directly to your email's inbox.
                        </p>
                    </div>
                    <div class="col-md-3">
                        <select data-smart-select>
                            <option>Never receive</option>
                            <option>Every day</option>
                            <option>Every Week</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="types">
                <h4>
                    Types
                </h4>
                <section>
                    <div class="title">Notifications and E-mails</div>

                    <div class="row">
                        <div class="col-sm-8">
                            New comments on my posts
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" data-switch value="3" checked />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            Assigned to new projects
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" data-switch value="3" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            New invitations
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" data-switch value="3" checked />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            Mentions you anywhere
                        </div>
                        <div class="col-sm-4">
                            <input type="checkbox" data-switch value="3" />
                        </div>
                    </div>
                </section>
            </div>

            <div class="actions">
                <span class="own-button">Save changes</span>
            </div>
        </form>
    </div>
</div>