<div class="modal-dialog modal-sm modal-invite">
        <div class="modal-content modal-invite-content"><div class="title">Invite someone to the group: {{ group.name }}</div>
            <div class="search-box"><input type="text" id="add-user-search" class="form-control search filter" placeholder="filter"></div>
            <div class="list"><ul class="user-list">
                <% var users = apiManager.session.users;
                for (var key in users) {
                if(users.hasOwnProperty(key)){
                var user = users[key];
                console.log(user);
                                %>

                <li id="groupuser-{{ user.id }}" class="invite-group-user" data-id="{{ user.id }}" data-group="{{ group.id }}">
                    <a href="#">
                        <figure>
                            <div class="figureimage">
                                <img src="/avatars/user/{{ user.id }}.jpg">
                            </div>
                            <figcaption>{{ user.name }}</figcaption>
                        </figure>
                        <% var already = false;
                            for( var u in group.users ) {
                                if(user.id == u.id)
                                    already = true;
                            }
                            %>
                        <% if( already ) { %>
                            <span class="user-invited"><i class="fa fa-check-circle"></i> Invited</span>
                        <% } else { %>
                            <span class="user-invited"><i class="fa fa-plus-circle"></i></span>
                        <% } %>
                    </a>
                </li>
                <% }} %>

            </ul></div>
            <!--<div class="link-box"><div><span class="invite-link">Invite link</span></div><div><span class="invite-url"><a href="http://bc.at/invite/asd">http://bc.at/invite/asd</a></span></div></div></div>-->
    </div>