<li>
    <div class="name" style="color: #535353; ">{{ name }}
        <a class="fa {{ icon }} pull-right" style="color: #535353;"></a>
    </div>
    <div>
        <span class="text">{{ text }}</span>
        <span class="right">
            <span class="notification-action notification-action-right right dismiss" data-id="{{ id }}"><i class="fa fa-times"></i></span>
            <span class="notification-action notification-action-left right accept" data-id="{{ id }}"><i class="fa fa-check"></i></span>
        </span>
        <br>
    </div>
    <span class="job pull-right">{{ projectName }}</span>

</li>