<!DOCTYPE html>
<html>
	<head>
		<title>BoxyChat</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/css/boxychat.css">
		
		
	</head>
	<body>
		<!-- main header -->
		<header id="boxyheader">
			<!-- left notifications -->
			<section class="notifications-bar">
				<button class="unstyled-button notifications-button">
					<span class="badge">4</span>
					<span class="fa fa-bell"></span>
				</button>
				<a href="#">BoxyChat Team <span class="fa fa-chevron-down"></span></a>
			</section>
			<!-- /left notifications -->
			<!-- right navigation -->
			<div class="header-nav">
				<!-- tabs -->
				<nav class="navtabs">
					<ul>
						<li><a href="#"><span class="fa fa-user"></span> People</a></li>
						<li class="active"><a href="#"><span class="icon-chat"></span> Chat</a></li>
						<li><a href="#"><span class="fa fa-inbox"></span> Files</a></li>
						<li><a href="#"><span class="fa fa-check-circle"></span> Tasks</a></li>
					</ul>
				</nav>
				<!-- /tabs -->
				<!-- user profile -->
				<section class="user-profile">
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption>
							<span><span class="icon-check"></span></span>
						</figcaption>
					</figure>
				</section>
				<!-- /user profile -->
				<!-- more button -->
				<nav class="navextra">
					<a href="#" class="extrabt"><span class="fa fa-ellipsis-v"></span></a>
				</nav>
				<!-- /more button -->
			</div>
			<!-- /right navigation -->
		</header>
		<!-- /main header -->
		<!-- sidebar -->
		<section id="boxysidebar">
			<!-- first row -->
			<section>
				<!-- user list -->
				<ul class="user-list">
					<!-- Sir Arthur Ryan Doyle Roberts -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Sir Arthur Ryan Doyle Roberts</figcaption>
							</figure>
						</a>
					</li>
					<!-- Mr McGuffy McGufferson -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr McGuffy McGufferson</figcaption>
							</figure>
						</a>
					</li>
					<!-- Mr Nagasaki -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr Nagasaki</figcaption>
							</figure>
						</a>
					</li>
				</ul>
				<!-- /user list -->
				
			</section>
			<!-- /first row -->
			<!-- second row -->
			<section>
				<div class="float-right">
					<button class="unstyled-button"><span class="icon-search"></span></button>
				</div>
				<div class="margin-bottom">
					<a href="#">BoxyChat Team <span class="fa fa-chevron-down"></span></a>
				</div>
				<!-- user list -->
				<ul class="user-list">
					<!-- Mr. Nagasaki Assistant -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr. Nagasaki Assistant</figcaption>
							</figure>
						</a>
					</li>
					<!-- Mr. Nagasaki -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr. Nagasaki</figcaption>
							</figure>
						</a>
					</li>
					<!-- Amy Stake, Ph.D -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/amy.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Amy Stake, Ph.D</figcaption>
							</figure>
						</a>
					</li>
					<!-- Mr McGuffy McGufferson -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr McGuffy McGufferson</figcaption>
							</figure>
						</a>
					</li>
					<!-- Sir Arthur Ryan Doyle Roberts -->
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Sir Arthur Ryan Doyle Roberts</figcaption>
							</figure>
						</a>
					</li>
				</ul>
				<!-- /user list -->
				
			</section>
			<!-- /second row -->
		</section>
		<!-- /sidebar -->
		<!-- content -->
		<section id="boxycontent">
			<header class="box-header">
				<div class="chat-buttons">
					<button class="unstyled-button"><span class="fa fa-microphone"></span></button>
					<button class="unstyled-button"><span class="fa fa-video-camera"></span></button>
				</div>
				<a href="#">Accounting chat <span class="fa fa-chevron-down"></span></a>
			</header>
			<section class="chat">
				<!-- message -->
				<div class="message message-left">
					
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption></figcaption>
					</figure>
					
					<div class="bubble">That was a fun discussion about accounting.</div>
					<div class="sent-by">Sir Conan Ryan Doyle Roberts</div>
				</div>
				
				<!-- hr -->
				<div class="message-hr"><span>Today, 10:42 PM</span></div>
				
				<!-- message -->
				<div class="message message-right no-figure">
					<div class="bubble no-triangle">Well, hello. I like what you have done.</div>
					<div class="sent-by">10:42</div>
				</div>
				
				<!-- message -->
				<div class="message message-right">
					
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption></figcaption>
					</figure>
					
					<div class="bubble">Well, hello. I like what you have done.</div>
					<div class="sent-by">10:42</div>
				</div>
				
				<!-- message -->
				<div class="message message-left">
					
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption></figcaption>
					</figure>
					
					<div class="bubble">Why are you always a dick to me Cletus ?</div>
					<div class="sent-by">Mr McGuffy McGufferson</div>
				</div>
				
				<!-- message -->
				<div class="message message-right no-figure">
					
					<div class="bubble no-triangle">Because I have to put up with your shit.</div>
					<div class="sent-by">10:48</div>
				</div>
				
				<!-- message -->
				<div class="message message-left">
					
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption></figcaption>
					</figure>
					
					<div class="bubble">I ain't got to take this.<br />I am never going to talk to you again.</div>
					<div class="sent-by">Mr McGuffy McGufferson</div>
				</div>
				
				<!-- message -->
				<div class="message message-left">
					
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption></figcaption>
					</figure>
					
					<div class="bubble">Dramatic reading by Sir Conan Ryan Doyle Roberts.</div>
					<div class="sent-by">Sir Conan Ryan Doyle Roberts.</div>
				</div>
				
				<!-- message -->
				<div class="message message-left">
					
					<figure>
						<img src="/images/tomas.jpg" alt="Tomas avatar" />
						<figcaption></figcaption>
					</figure>
					
					<div class="bubble">Do you have my money yet?</div>
					<div class="sent-by">Mr. Nagasaki</div>
				</div>
				
			</section>
			<div class="message-box">
				<div class="message-tools">
					<button class="send-emoticon-button"><span class="fa fa-smile-o"></span></button>
					<button class="send-picture-button"><span class="fa fa-camera"></span></button>
					<button class="send-button">Share</button>
				</div>
				<div class="message-text-container">
					<input type="text" class="message-text" placeholder="Type your message" />
				</div>
			</div>
		</section>
		<!-- /content -->

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!--SCRIPTS-->
    <script src="/js/socket.io.js"></script>
    <script src="/js/sails.io.js"></script>
    <script src="/js/connection.example.js"></script>
    <script src="/js/bootstrap.min.js"></script>
	</body>
</html>