<!DOCTYPE html>
<html>
<head>
    <title>BoxyChat</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/boxychat.css">
    <link rel="stylesheet" href="/css/bootstrap-table.min.css">
    <link rel="stylesheet" href="/css/theme.css">

</head>
<body>
<!-- main header -->
<header id="boxyheader">
    <!-- user profile -->
    <section class="user-profile">
        <figure>
            <img src="/images/tomas.jpg" alt="Tomas avatar"/>
            <figcaption>
                <span><span class="icon-check"></span></span>
            </figcaption>
        </figure>
    </section>
    <!-- /user profile -->
    <!-- left notifications -->
    <section class="notifications-bar">

        <button class="unstyled-button notifications-button">
            <!--<span class="badge">4</span>-->
            <span class="fa fa-bell-o"></span>
        </button>
        <div class="dropdown right">
            <button class="btn btn-projects dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                <span class="project-name">Select Project</span>
                <span class="fa fa-chevron-down"></span>
            </button>
            <ul class="dropdown-menu" id="project-drop" role="menu" aria-labelledby="dropdownMenu1">

            </ul>
        </div>
    </section>
    <!-- /left notifications -->
    <!-- right navigation -->
    <div class="header-nav">
        <!-- tabs -->
        <nav class="navtabs">
            <ul>
                <li class="tpmenu active"><a href="#"><span class="icon-chat"></span> <span
                                class="menuLabel menu-chat">Chats</span></a></li>
                <li class="tpmenu"><a href="#"><span class="fa fa-user"></span> <span
                                class="menuLabel hidden">People</span></a></li>
                <li class="tpmenu"><a href="#"><span class="fa fa-folder"></span> <span
                                class="menuLabel hidden">Files</span></a></li>
                <li class="tpmenu"><a href="#"><span class="fa fa-check-circle"></span> <span class="menuLabel hidden">Tasks</span></a>
                </li>
                <li class="tpmenu"><a href="#"><span class="fa fa-wrench"></span> <span class="menuLabel hidden">Account</span></a>
                </li>
            </ul>
        </nav>
        <!-- /tabs -->

        <!-- more button -->
        <nav class="navextra">
            <a href="#" class="extrabt"><span class="fa fa-ellipsis-v"></span></a>
        </nav>
        <!-- /more button -->
    </div>
    <!-- /right navigation -->
</header>
<!-- /main header -->
<!-- sidebar -->
<section id="boxysidebar">
    <!-- first row -->
    <section>
        <div class="float-right">
            <span class="icon-search pointer" style="padding-right: 5px;"></span>
            <span class="fa fa-plus pointer" data-toggle="modal" data-target="#invite-user"></span>
        </div>

        <div class="margin-bottom">
            <a href="#" class="hide-user-list">Personal <span class="fa fa-chevron-down"></span></a>
        </div>
        <!-- user list -->
        <ul id="user-list" class="user-list">

        </ul>
        <!-- /user list -->

    </section>
    <section id="project-contact-list" class="hide">
        <div class="float-right">
            <button class="unstyled-button"><span class="icon-search"></span></button>
        </div>

        <div class="margin-bottom">
            <a href="#" class="project-name hide-user-list"><span class="fa fa-chevron-down"></span></a>
        </div>
        <!-- user list -->
        <ul id="project-user-list" class="user-list">

        </ul>
        <!-- /user list -->

    </section>
    <!-- /first row -->
    <!-- second row -->
    <!--<section>
        <div class="float-right">
            <button class="unstyled-button"><span class="icon-search"></span></button>
        </div>
        <div class="margin-bottom">
            <a href="#">BoxyChat Team <span class="fa fa-chevron-down"></span></a>
        </div>
        &lt;!&ndash; user list &ndash;&gt;
				<ul class="user-list">
					&lt;!&ndash; Mr. Nagasaki Assistant &ndash;&gt;
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr. Nagasaki Assistant</figcaption>
							</figure>
						</a>
					</li>
					&lt;!&ndash; Mr. Nagasaki &ndash;&gt;
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr. Nagasaki</figcaption>
							</figure>
						</a>
					</li>
					&lt;!&ndash; Amy Stake, Ph.D &ndash;&gt;
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/amy.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Amy Stake, Ph.D</figcaption>
							</figure>
						</a>
					</li>
					&lt;!&ndash; Mr McGuffy McGufferson &ndash;&gt;
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Mr McGuffy McGufferson</figcaption>
							</figure>
						</a>
					</li>
					&lt;!&ndash; Sir Arthur Ryan Doyle Roberts &ndash;&gt;
					<li>
						<a href="#">
							<figure>
								<span class="more"><span class="fa fa-ellipsis-v"></span></span>
								<div class="figureimage">
									<img src="/images/tomas.jpg" alt="Tomas avatar" />
									<div class="figureshadow"></div>
								</div>
								<figcaption>Sir Arthur Ryan Doyle Roberts</figcaption>
							</figure>
						</a>
					</li>
				</ul>
				&lt;!&ndash; /user list &ndash;&gt;

			</section>-->

    <!-- /second row -->
</section>
<div class="bottom-links" style="">
    <span class="link">Help</span>
    <span class="link">Privacy</span>
</div>
<!-- /sidebar -->
<!-- content -->
<div id="central-container">
<div id="account" class="centrals hidden">
    <section class="files-section">
    <div id="sidebar">
        <div class="sidebar-toggler visible-xs">
            <i class="ion-navicon"></i>
        </div>

        <h3>My account</h3>
        <ul class="menu">
            <li>
                <a href="account-profile.html">
                    <i class="fa fa-user"></i>
                    Profile
                </a>
            </li>
            <!--<li>-->
                <!--<a href="account-billing.html">-->
                    <!--<i class="ion-card"></i>-->
                    <!--Billing-->
                <!--</a>-->
            <!--</li>-->
            <li>
                <a href="account-notifications.html" class="active">
                    <i class="fa fa-envelope-o"></i>
                    Notifications
                </a>
            </li>
            <li>
                <a href="account-support.html">
                    <i class="fa fa-question"></i>
                    Support
                </a>
            </li>
        </ul>
    </div>

    <div id="panel" class="notifications">
        <h3>
            Email Notification Settings
        </h3>

        <div class="settings">
            <form action="#">
                <div class="digest">
                    <h4>Daily digest</h4>
                    <div class="row">
                        <div class="col-md-9">
                            <p>
                                An email with a summary of all your activities for yesterday directly to your email's inbox.
                            </p>
                        </div>
                        <div class="col-md-3">
                            <select data-smart-select>
                                <option>Never receive</option>
                                <option>Every day</option>
                                <option>Every Week</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="types">
                    <h4>
                        Types
                    </h4>
                    <section>
                        <div class="title">Notifications and E-mails</div>

                        <div class="row">
                            <div class="col-sm-8">
                                New comments on my posts
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox" data-switch value="3" checked />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                Assigned to new projects
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox" data-switch value="3" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                New invitations
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox" data-switch value="3" checked />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-8">
                                Mentions you anywhere
                            </div>
                            <div class="col-sm-4">
                                <input type="checkbox" data-switch value="3" />
                            </div>
                        </div>
                    </section>
                </div>

                <div class="actions">
                    <input class="btn btn-primary" type="submit" value="Save changes" />
                </div>
            </form>
        </div>
    </div>
    </div>
</div>
<div id="chats" class="centrals"></div>
<div id="files" class="centrals hidden">
    <section class="files-section">
        <header class="box-header files-header">
            <div class="chat-buttons">
                <button class="unstyled-button"><span class="fa fa-microphone"></span></button>
                <button id="video-room-538f34f9b0ffe684901afb2a" class="unstyled-button videochatbtn"><span
                            class="fa fa-video-camera"></span></button>
                <input type="text" class="form-control file-search search-query" placeholder="Search..."/>
            </div>
            <a href="#">Super<span class="fa fa-chevron-down"></span></a>
        </header>
        <section class="files-content">

            <div class="file-manager">
                <ul>
                    <li>
                        <div class="folder">
                            <i class="fa fa-group cover"></i></div>
                        <div class="item-description">Hello</div>
                    <li>
                        <div class="folder">
                            <i class="fa fa-user cover"></i></div>
                        <div class="item-description">Hello</div>
                    </li>
                    </li>
                    <li>
                        <div class="folder">
                            <i class="fa fa-none cover"></i></div>
                        <div class="item-description">Hello 3</div>
                    </li>
                    <li>duehudhe
                    </li>
                    <li>duehudhe
                    </li>
                </ul>
            </div>
        </section>
    </section>
    test
</div>


<div id="tasks" class="centrals hidden">
<section class="files-section">
<header class="box-header files-header">
    <div class="chat-buttons">
        <button class="unstyled-button"><span class="fa fa-microphone"></span></button>
        <button id="video-room-538f34f9b0ffe684901afb2a" class="unstyled-button videochatbtn"><span
                    class="fa fa-video-camera"></span></button>
        <input type="text" class="form-control file-search search-query" placeholder="Search..."/>
    </div>
    <a href="#">Super<span class="fa fa-chevron-down"></span></a>
</header>
<section class="files-content">
<div class="chat-messages">
    <table class="test"></table>
<ul style="
    padding: 0; margin: 0 auto;
    list-style: none;
">


<li style="
    /* display: inline-block; */
    /* width: 80px; */ border: 0;
    /* margin: 4px; */ margin-bottom: 0px;
    /* padding: 0; */ vertical-align: top; };

    text-align: center;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 1px;
    margin-right: 1px;
    cursor: pointer;
    height: 55px;
    border-bottom: 1px solid #E6E6E6;
">
    <div style="
    /* background: url('/images/folder.png') no-repeat; */
    background-position: center center;
            height: 52px;
    display: table;
    position: static;
    width: 40px;
    float: left;
"><i class="fa fa-circle-o" style="
    font-size: 20px;
    color: black;
    margin: auto;
    padding: auto;
    display: table-cell; vertical-align: middle;
    position: static;
"></i></div>
    <div style="
    /* background: url('/images/folder.png') no-repeat; */
    background-position: center center;
            height: 52px;
    display: table;
    position: static;
    float: left;
            ">
        <div style="
    display: table-cell; vertical-align: middle; position: static;
">
            <div style="
    /* position: static; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    text-align: left;
">Hello Test
            </div>
            <div style="
    /* position: static; */
    /* display: table-cell; */
    /* vertical-align: middle; */
    font-size: 12px;

    text-align: left;
                              ">Hello Test duejud ejdeu djeu dej duejdue jdue deud jeu dje
            </div>
        </div>
    </div>
    <div style="
    float: right;
    display: table; position: static;
    height: 52px;
">
        <figure style="
    width: 34px; height: 34px; border-radius: 34px; position: relative;
    display: table-cell; vertical-align: middle; position: static;
">
            <img src="/images/tomas.jpg" alt="Tomas avatar" style="
    width: 26px;
    border-radius: 26px;
">

        </figure>
    </div>
</li>


</ul>
</div>
</section>
</section>
test
</div>
<div id="people" class="centrals hidden">
    <section class="dashboard-section" style="
    padding: 10px;
                                      ">
        <div>
            <div class="page-header" style="font-size: 20px;">
                <h1>Dashboard</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default panel-squared">
                    <div class="panel-heading panel-white">
                        <h3 class="panel-title panel-title-left" style="">Projects</h3>
                        <i class="fa fa-plus right"></i>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-warning own-alerts" role="alert">Oops! It looks like you are not in any project, create one for free
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Panel title</h3>
                    </div>
                    <div class="panel-body" style="
    padding: 0px;
">
                        <ul class="notification-list">
                            <li>

                                <div class="name" style="
    color: #535353;
">Jhon Smith
                                    <a class="fa fa-comments pull-right" style="
    color: #535353;
"></a>
                                </div>
                                <span class="place">ud eu deiu deiu dhiue ehiu dei eeh dehi dehid ehiud ehid ehiud ehid ehuideh uid ehi dei deCalifornia, USA</span><br>
                                <span class="job pull-right">Project</span>

                            </li>


                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</div>
<!-- /content -->


<div id="myModal" class="modal fade in" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <button type="button" class="close" data-dismiss="modal" style="
    padding-right: 5px;
    color: white;
">×
    </button>
    <div class="modal-dialog" style="width:100%">
        <div class="modal-body" style="width: 100% text-align: center;">
            <a href="#" title="Image 2">
                <img src="http://placehold.it/600x350/2255EE" class="thumbnail img-responsive">
            </a>
        </div>
    </div>
</div>




<div id="invite-user" class="modal fade bs-example-modal-sm in" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="false" style="display: none;">
    <div class="modal-dialog modal-sm modal-invite">
        <div class="modal-content modal-invite-content">
            <div class="title">Invite someone</div>
            <div class="search-box"><input type="text" class="form-control search invite-user-text" placeholder="Search"><button type="button" class="btn submit invite-user-submit">Invite</button></div>
        </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js'></script>
<!--SCRIPTS-->
<script src="/jst.js"></script>
<script src="/js/socket.io.js"></script>
<script src="/js/sails.io.js"></script>
<script src="/js/linkify.js"></script>
<script src="/js/page.js"></script>
<script src="/js/ApiManager.js"></script>
<script src="/js/PageManager.js"></script>
<script src="/js/EventManager.js"></script>
<script src="/js/chatManager.js"></script>
<script src="/js/connection.example.js"></script>
<script src="/js/bootstrap-switch.min.js"></script>
<script src="/js/bootstrap-table.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/history.js"></script>
<script src="/js/homepage.js"></script>
<script src="/js/unveil.js"></script>
<!--SCRIPTS END-->
<script type="text/javascript">


    $(document).ready(function () {
        $(document).on('click', '.invite-user-submit', function(ev) {
            apiManager.inviteUser($('.invite-user-text').val());
            $('.invite-user-text').empty();
        });
        $("[data-switch]").bootstrapSwitch({
            "size": "small"
        });
        $(".thumblightbox").unveil(300);
        $(document).on('click', '.thumblightbox', function (ev) {
            $('.modal-body').empty();
            $($(this).parents('span').html()).appendTo('.modal-body').css("width", "");
            $('#myModal').modal({show: true});
        });
        $('.dropdown-toggle').dropdown();
    });

</script>
</body>
</html>
