<div class="container">
  <div class="row">
    <div class="col-sm-6">
<form action="/user/resetpass" method="post">
  <div class="form-group">
    <input class="form-control" type="text" name="email" placeholder="Your email?">
  </div>
  <input class="btn btn-default" type="submit" value="Submit">
</form>
    </div>
  </div>
</div>
