@import url(icons-fontawesome.css);
@import url(icons-fontEntypo2.css);
@import url(reset.css);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700,300);
body{
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	background: #f9f9f9;
}

.float-left{
	float: left;
}

.float-right{
	float: right;
}

.margin-bottom{
	margin-bottom: 20px;
}

#boxyheader{
	height: 60px;
	background: #373D4E;
    /*border-bottom: 1px solid #e0e0e0;*/
}

#boxyheader .notifications-bar{
	float: left;
	padding: 12px 24px;
	padding-top: 12px;
}

#boxyheader .notifications-bar > a{
	background-color: #101829;
	color: #FFFFFF;
	font-size: 13px;
	float: right;
	border-radius:2px;
	padding-left: 12px;
padding-right: 12px;
padding-top: 11px;
height:37px;

}

#boxyheader .notifications-bar .notifications-button{
	color: #0071ff;
	font-size: 20px;
	position: relative;
	float:left;
	padding-top: 8px;
}

#boxyheader .notifications-bar .notifications-button > .badge{
	position: absolute;
	font-size: 11px;
	color: #0071ff;
	background: #fff;
	box-shadow: 0 0 2px rgba(0,0,0,.50);
	border-radius: 20px;
	padding: 3px 5px;
	margin-left:-10px;
	left: 100%;
	top:0;
	margin-left:-13px;
	margin-top: 4px;

}

#boxyheader .header-nav{
	float: right;
}

#boxyheader .navtabs{
	float: left;
}

#boxyheader .navtabs > ul > li{
	padding-top: 12px;
	float: left;
}

#boxyheader .navtabs > ul > li > a{
	height: 37px;
	display: block;
	padding: 12px 12px 0;
	padding-top: 12px;
	color: #FFFFFF;
	font-size:13px;
}

#boxyheader .navtabs > ul > li.active > a{
	background: #fff;
	color: #2D3C5A!important;
	height: 37px;
	padding-top: 12px;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
	border-radius: 2px;
}

#boxyheader .navtabs > ul > li > a:hover{
	text-decoration: none;
	color: #dcdcdc;
}

#boxyheader .navtabs > ul > li.active > a:hover{
	background: #fff;
}

#boxyheader .user-profile{
	padding:14px 0 0 28px;
}

#boxyheader .user-profile,
#boxyheader .navextra{
	float: left;
	height: 60px;
}

#boxyheader .user-profile > figure,
#boxyheader .user-profile > figure > figcaption,
.message > figure > figcaption,
.message > figure{
	width: 34px;
	height: 34px;
	border-radius: 34px;
	position: relative;
}

#boxyheader .user-profile > figure > figcaption,
.message > figure > figcaption{
	box-shadow: inset 0 0 4px rgba(0,0,0,1);
	position: absolute;
	top:0;
}

#boxyheader .user-profile > figure > figcaption > span{
	width: 15px;
	height: 15px;
	float: right;
	background: #f9f9f9;
	color: #44b100;
	border-radius: 15px;
	text-align: center;
	margin-right: -4px;
	margin-top:-1px;
	font-size: 10px;
	line-height: 18px;
}

#boxyheader .user-profile > figure > img,
.message > figure > img{
	width: 34px;
	border-radius: 34px;
}

#boxyheader .navextra > .extrabt{
	display: block;
	padding: 0 20px 0 20px;
	color: #868686;
	height: 59px;
	line-height: 63px;
}

#boxyheader .navextra > .extrabt:hover{
	background: #efefef;
}

#boxysidebar{
	position: fixed;
	width: 320px;
	background: #fff;
	top: 60px;
	bottom: 58px;
	border-right:1px solid #cbcbcb;
	z-index: 102;
	overflow: auto;
}

#boxysidebar .unstyled-button{
	margin-right: 0;
}

#boxysidebar a{
	color: #888888;
}

#boxysidebar > section{
	border-bottom: 1px solid #e0e0e0;
	padding:20px 25px; 
	color: #888888;
}

#boxysidebar > section:last-child{
	border-bottom: none;
}

.chat-section{
	position: fixed;
	background: #f9f9f9;
	top: 60px;
	bottom: 0;
	left: 320px;
	right: 0;
	z-index: 101;
}

.chat-section > .message-box{
	position: fixed;
	left: 320px;
	right: 0;
	bottom: 0;
	height: 58px;
	background: #FCFCFC;
	border-top: 1px solid #ececec;
}
.chat-section > .message-box .message-text-container{
	margin-right: 200px;
}
.chat-section > .message-box .message-text{
	font-size: 14px;
	border: 0;
	padding: 19px;
	width: 100%;
	outline: none;
	background-color: #FCFCFC;
}

.chat-section > .message-box .message-tools{
	float: right;
	height: 58px;
	width: 200px;
	padding-top:11px;
	padding-right: 25px;
	text-align: right;
}

.chat-section > .message-box .message-tools .send-emoticon-button,
.chat-section > .message-box .message-tools .send-picture-button,
.unstyled-button{
	border: 0;
	margin-right: 15px;
	color: #888888;
	background: transparent;
}

.chat-section > .message-box .message-tools .send-emoticon-button:hover,
.chat-section > .message-box .message-tools .send-picture-button:hover,
.unstyled-button:hover{
	color: #000;
}

.chat-section > .message-box ::-webkit-input-placeholder { font-weight: bold; }
.chat-section > .message-box ::-moz-placeholder { font-weight: bold; } /* firefox 19+ */
.chat-section > .message-box :-ms-input-placeholder { font-weight: bold; } /* ie */
.chat-section > .message-box input:-moz-placeholder { font-weight: bold; }

.send-button{
	padding: 11px 15px;
	border: 0px;
	background: #1557F0;
	border-radius: 2px;
	color: #ffffff;
/*	font-weight: bold;
	text-shadow: 0 1px 1px #aebbe6;
	box-shadow: inset 0 7px 2px -7px rgba(255,255,255,0.8);*/
	font-size: 12px;
	width: 60px;
}

.box-header{
	height: 46px;
	border-bottom: 1px solid #e1e1e1;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	background: #fff;
	padding: 0 20px;
	color: #666;
	line-height: 43px;
	font-size: 13px;
	font-weight: bold;
}

.box-header a{
	color: #666;
	display: inline-block;
}

.box-header .chat-buttons{
	float: right;
}

.box-header .unstyled-button{
	height: 45px;
	margin-right: 0;
	margin-left: 18px;
	font-size: 20px;
}

.user-list figure .figureimage{
	float: left;
	margin-right: 12px;
	margin-top: -11px;
}

.user-list > li{
	clear: both;
}

.user-list > li > a{
	padding: 20px 0;
	display: block;
}

.user-list > li > a .more{
	float: right;
	display: none;
}

.user-list > li > a:hover .more{
	display: block;
	padding: 0 2px;
}

.user-list figure .figureimage,
.user-list figure .figureshadow{
	width: 34px;
	height: 34px;
	border-radius: 34px;
	position: relative;
}

.user-list figure .figureshadow{
	box-shadow: inset 0 0 4px rgba(0,0,0,1);
	position: absolute;
	top:0;
}

.user-list figure > .figureimage > img{
	width: 34px;
	border-radius: 34px;
}

.user-list figure > figcaption{
	font-size: 12px;
	font-weight: bold;
	color: #535353;
}

section.chat{
	position: fixed;
	top: 60px;
	margin-top:46px;
	right: 0;
	left: 320px;
	bottom: 58px;
	overflow: auto;
	padding: 20px;
}

.message{
	clear: both;
	margin-bottom: 10px;
}

.message.message-left .bubble{
	float: left;
}

.message.message-left > figure{
	float: left;
	margin-right: 16px;
	margin-top:5px;
}

.message.message-left .sent-by{
	clear: both;
	margin-left:52px;
	color: #a4a4a4;
	font-size: 12px;
	padding: 8px 0;
}

.message.message-right.no-figure .sent-by{
	margin-left:0;
}

.message.message-right .bubble{
	float: right;
}

.message.message-right > figure{
	float: right;
	margin-left: 16px;
	margin-top:5px;
}

.message.message-right .sent-by{
	clear: both;
	text-align: right;
	margin-right:52px;
	color: #a4a4a4;
	font-size: 12px;
	padding: 8px 0;
}

.message.message-right.no-figure .sent-by{
	margin-right:0;
}

.chat .message-hr{
	border-bottom: 1px dashed #e0e0e0;
	color: #c2c2c2;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
	height: 10px;
	margin: 20px;
}
.chat .message-hr > span{
	display: inline-block;
	background: #f9f9f9;
	padding: 2px 20px;
}

.message.message-left .bubble {
	position: relative;
	padding: 14px;
	background: #FFFFFF;
	/*-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
	/*border-radius: 4px;*/
	border: #dcdcdc solid 1px;
	/*box-shadow: 0 0 2px 1px rgba(0,0,0,.05);*/
	color: #000;
	font-size: 14px;
}

.message.message-left .bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 8px 10px 0;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -10px;
	left: -8px;
	top: 22px;
}

.message.message-left .bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 8px 10px 0;
	border-color: transparent #dcdcdc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -10px;
	left: -9px;
	top: 22px;
}

.message.message-right .bubble {
	position: relative;
	padding: 14px;
	background: #FFFFFF;
/*	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;*/
	/*border-radius: 4px;*/
	border: #dcdcdc solid 1px;
	/*box-shadow: 0 0 2px 1px rgba(0,0,0,.05);*/
	color: #000;
	font-size: 14px;
}

.message.message-right .bubble:after {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 0 10px 8px;
	border-color: transparent #FFFFFF;
	display: block;
	width: 0;
	z-index: 1;
	margin-top: -10px;
	right: -8px;
	top: 22px;
}

.message.message-right .bubble:before {
	content: '';
	position: absolute;
	border-style: solid;
	border-width: 10px 0 10px 8px;
	border-color: transparent #dcdcdc;
	display: block;
	width: 0;
	z-index: 0;
	margin-top: -10px;
	right: -9px;
	top: 22px;
}

.bubble.no-triangle:before{
	display: none;
	visibility: hidden;
}

.bubble.no-triangle:after{
	display: none;
	visibility: hidden;
}

.space-video{
    top: 310px!important;
}

.videochat {
    position: fixed;
    top: 60px;
    margin-top: 46px;
    right: 0;
    left: 320px;
    overflow: auto; padding: 20px;
    height: 250px;
    border-bottom: 1px solid #e1e1e1;
    background: #fff;
}
.thumblightbox {
    background: transparent url('../images/loader.gif') no-repeat  scroll center center;
}
.modal-backdrop.in{
    opacity: 0.9;
}

.files-header {
    border-bottom: none;
}
input.search-query {
    padding-left:26px;
    display:initial;
    width: 200px;
    border-radius: 0px;
}
.file-search {
    position: relative;
}
.file-search:before {
    display: block;
    width: 14px;
    height: 14px;
    content: "\f002";
    font-family: 'FontAwesome';
    background-position: -48px 0;
    position: absolute;
    top:8px;
    left:8px;
    opacity: .5;
    z-index: 1000;
}
.files-content {
    position: fixed;
    top: 60px;
    margin-top: 46px;
    right: 0;
    left: 320px;
    overflow: auto;
    padding: 20px;
    background: white;
}
.files-section {
    position: fixed;
    background: white;
    top: 60px;
    bottom: 0;
    left: 320px;
    right: 0;
    z-index: 101;
}

ul.notification-list {
    padding: 0px;
}
ul.notification-list li .name {
    margin: 5px 0 0px 0;
    font-size: 13px;
    font-weight: bold;
}
ul.notification-list li span {
    display: inline-block; margin-right: 5px; font-size: 11px; color: #484848;
}
ul.notification-list li {
    min-height: 60px; padding: 5px 10px; list-style: none; border-bottom: 1px solid #d4d4d4; font-size: 12px;
}
div.bottom-links {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    background-color: #fff;
    border: 0px white;
    border-right: 1px solid #cbcbcb;
    width: 320px;
    padding-bottom: 15px;
    padding-top: 19px;
    padding-left:25px
}

div.bottom-links span.link {
    border-top-width: 20px;
    margin-top: 0px;
    font-size: 13px;
    color: #999999;
    padding-right: 20px;
}

.file-manager ul {
    padding: 0; margin: 0 auto; list-style: none;
}

.file-manager ul li {

    display: inline-block; width: 80px; border: 0;
margin-bottom: 8px;
vertical-align: top;

text-align: center;
padding-left: 0px;
padding-right: 0px;
margin-left: 19px;
margin-right: 19px;
cursor: pointer;
}

.file-manager div.folder {

    background: url('/images/folder.png') no-repeat;
    background-position: center center;
    height: 52px;
    display: table;
    position: static;
    width: 80px;
}

.file-manager i.cover {
    font-size: 30px;
    color: white;
    margin: auto;
    padding: auto;
    display: table-cell; vertical-align: middle;
    position: static;
}

.file-manager div.item-description {

    font-size: 12px; font-weight: bold; color: #535353;
    padding-top: 12px;
    text-align: center;
}

.dashboard-section {
    position: fixed;
    background: white;
    top: 60px;
    bottom: 0;
    left: 320px;
    right: 0;
    z-index: 101;
}

.panel-squared {
    border-radius: 0px!important;
}

.panel-white {
    height: 36px!important;
    background-color: white!important;
    background-image: none!important;
    color: #535353!important;
}
.panel-title-left {
    float: left!important;font-size: 13px!important;font-weight: bold!important;
}

.own-alerts {
    margin-bottom: 0px !important;
    font-size: 12px!important;
    background-image: none!important;
}

.right {float:right;}


.btn-projects {
    background-color: #101829;
    color: #FFFFFF;
    font-size: 13px!important;
    float: right;
    border-radius: 2px!important;
    height: 37px;
    border-color: #101829;

}

.btn-projects:hover, .btn-projects:focus {
    text-decoration: none!important;
    color: #dcdcdc!important;
}

#progress {
    position: fixed;
    z-index: 2147483647;
    top: 0;
    left: -6px;
    width: 1%;
    height: 2px;
    background: #0088CC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-transition: width 500ms ease-out,opacity 400ms linear;
    -ms-transition: width 500ms ease-out,opacity 400ms linear;
    -o-transition: width 500ms ease-out,opacity 400ms linear;
    -webkit-transition: width 500ms ease-out,opacity 400ms linear;
    transition: width 500ms ease-out,opacity 400ms linear;
}


#progress dd, #progress dt {
    position: absolute;
    top: 0;
    height: 2px;
    -moz-box-shadow: #0088CC 1px 0 6px 1px;
    -ms-box-shadow: #0088CC 1px 0 6px 1px;
    -webkit-box-shadow: #0088CC 1px 0 6px 1px;
    box-shadow: #0088CC 1px 0 6px 1px;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    border-radius: 100%;
}

#progress dt {
    opacity: .6;
    width: 180px;
    right: -80px;
    clip: rect(-6px,90px,14px,-6px);
}

#progress dd {
    opacity: .6;
    width: 20px;
    right: 0;
    clip: rect(-6px,22px,14px,10px);
}

.pointer {
    cursor: pointer;
}

#invite-user .modal-invite {
    width: 420px;
}
#invite-user .modal-invite-content {
    border-radius: 2px;
}
#invite-user .title {
    margin-top: 24px;
    margin-left: 19px;
    color: #666666;
}
#invite-user .search-box {
    margin-top: 21px;
    margin-left: 19px;
    height: 57px;
}
#invite-user .search {
    width: 294px;
    float: left;
    border-radius: 2px;
}
#invite-user .submit {
    width: 80px;
    float: right;
    margin-right: 17px;
    background-color: #1557F0;
    border-radius: 2px;
    color: white;
}
#invite-user .list {
    padding-left: 21px;
}
#invite-user .user-list {
    marging-right: 20px;
}
#invite-user figure {
    position:relative;
    float: left;
}

#invite-user figcaption {
    font-weight: normal;
    font-size: 14px;
    float: left;
}
#invite-user .user-invited {
    float: right;
    color: #1557F0;
    margin-right: 15px;
}
#invite-user .link-box {
    height: 57px;
    background-color: #F5F5F5;
    border-top: 1px solid #E6E6E6;
    border-left-width: 0px;
    padding-left: 21px;
    padding-top: 10px;
}
#invite-user .invite-link {
    font-size: 12px;
    color: #8A8A8A;
}
#invite-user .invite-url {
    font-size: 12px;
}